* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Google font varient */
.poppins-extralight {
    font-family: "Poppins", serif;
    font-weight: 200;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
}

.eb-garamond {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}


/* Header */
#navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 50px 0;
}

.menu-icon {
    display: none;
}

#nav-list {
    display: flex;
    column-gap: 40px;
    list-style: none;
}

#nav-list>li a {
    text-decoration: none;
    color: #707070;
    transition: all 0.3s ease;
}

#nav-list>li a:hover {
    color: #b68c5a;
}

.nav-btn {
    padding: 18px 28px;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: white;
    background-color: #b68c5a;
    text-decoration: none;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease;
}

.nav-btn:hover {
    box-shadow: 5px 5px 5px #dcdcdc;
    background-color: #996633;
}

/* Hero section */
.hero-section {
    background-image: url("./image/Hero-bg.png");
    background-size: cover;
    background-position: center;
    height: 56vh;
    width: 77%;
    margin: 0 auto;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
    text-align: center;
    padding: 0 310px;
}

.hero-h1 {
    font-size: 50px;
}

.rero-txt {
    color: whitesmoke;
}

.search-bar {
    display: flex;
    align-items: center;
    column-gap: 15px;
    padding: 10px 0;
}

.search-bar input[type="text"] {
    padding: 14px;
    border-radius: 6px;
    border: none;
    width: 300px;
}

.search-bar input[type="submit"] {
    padding: 14px 20px;
    border-radius: 6px;
    border: none;
    background-color: #b68c5a;
    color: white;
    cursor: pointer;
    transition: 0.3s all ease;
}

.search-bar input[type="submit"]:hover {
    background-color: #996633;
}

/* body section */
/* legal-practice-section */
.legal-practice-header {
    text-align: center;
    margin: 80px auto;
    width: 40%;
}

.h2 {
    color: #414040;
    font-size: 30px;
    font-weight: 800;
}

.txt {
    margin-top: 10px;
    color: #707070;
    font-size: 13px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 75.5%;
    margin: 0 auto;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
    text-align: center;
    padding: 0 60px;
    height: 450px;
}

.grid-item>h3 {
    color: #414040;
}

.grid-item>p {
    color: #707070;
    font-size: 13px;
}

.item-1,
.item-3 {
    border-bottom: 1px solid #E7E7E7;
}

.item-2 {
    border: 1px solid #E7E7E7;
    background: linear-gradient(to bottom, #F3F3F3, #f3f3f3b4, #f3f3f300);
}

.item-5 {
    border-left: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
}

.item-img {
    width: 50px;
    object-fit: cover;
    margin: 0 auto;
}

.item-icon {
    width: 70px;
    height: 70px;
    margin: 0 auto;
}

/* FAQ section */
.faq-section {
    margin-bottom: 80px;
}

.faq-header {
    text-align: center;
    margin: 80px auto;
    width: 40%;
}

.faq-h2 {
    color: #414040;
    font-size: 30px;
    font-weight: 800;
}

.faq-txt {
    color: #707070;
    padding-top: 14px;
    font-size: 13px;
}

.faq-body {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    width: 75.5%;
    margin: 0 auto;
}

.faq-first-colmun {
    display: flex;
    flex-direction: column;
    row-gap: 18px;
    width: 50%;
}

.first-colmun-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.first-colmun-h3 {
    font-weight: 800;
}

.first-colmun-txt {
    padding-right: 30px;
    font-size: 13px;
}

.faq-first-colmun>div {
    background-color: #f3f3f3;
    padding: 32px;
    border-radius: 8px;
}

.faq-second-colmun {
    width: 50%;
}

.faq-second-colmun>img {
    width: 500px;
}

/* Footer */

#footer {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    align-items: start;
    background-color: #212121;
    color: white;
    padding: 80px 140px;
}

.col-1-txt,
.col-2-menu,
.col-3-txt,
.col-4-txt {
    color: #CFCFCF;
}

.col-1 {
    width: 35%;
}

.col-1-txt {
    margin-top: 10px;
    font-size: 13px;
}

.col-2 {
    width: 20%;
}

.col-2-h3 {
    font-weight: 800;
}

.col-2-menu {
    list-style-type: none;
    margin-top: 10px;
    font-size: 12px;
}

.col-3 {
    width: 25%;
}

.col-3-h3 {
    font-weight: 800;
}

.col-3-txt {
    margin-top: 10px;
    font-size: 13px;
}

.col-4 {
    width: 20%;
}

.col-4-h3 {
    font-weight: 800;
}

.col-4-txt {
    margin: 10px 0;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.input-group>input[type="email"] {
    padding: 10px 12px;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 300px;
}

.input-group>input[type="submit"] {
    padding: 10px 15px;
    border-radius: 6px;
    border: none;
    background-color: #b68c5a;
    color: white;
    cursor: pointer;
    transition: 0.3s all ease;
}


/* Laptop screen */
@media only screen and (max-width: 1024px) {}

/* Tab screen */
@media only screen and (min-width: 481px) and (max-width: 768px) {}

/* Mobile screen */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .menu-icon {
        display: block;
    }

    #nav-list {
        display: none;
    }

    .hero-section {
        height: auto;
        width: 90%;
        margin: 0 auto;
        padding: 50px;
        background-position: right;
    }

    .hero-section>h1 {
        font-size: 26px;
    }

    .search-bar {
        flex-direction: column;
        row-gap: 15px;
    }

    .legal-practice-header {
        width: 80%;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid-item {
        padding: 0 20px;
    }

    .item-1,
    .item-3 {
        border-bottom: none;
    }

    .item-2 {
        border: none;
        background: none;
    }

    .item-5 {
        border-left: none;
        border-right: none;
    }
}